<?php
  try {
    $conn = new PDO("mysql:host=localhost;dbname=student", "dev", {{ mysql_user_password }} );

    $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    echo 'Connected to the database.<br>';

    $sql = 'SELECT name FROM student';
    
    foreach ($conn->query($sql) as $row) {
        echo "Student Name:", $row['name'] . "<br>";
    }
    $conn = null;

  }
  catch(PDOException $err) {
    echo "ERROR: Unable to connect: " . $err->getMessage();
  }
?>